services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ausflug-manager-app
    ports:
      - "3000:3000"
    env_file:
      - .env.docker
    environment:
      - NODE_ENV=production
    restart: unless-stopped
    networks:
      - ausflug-network
    volumes:
      - uploads_data:/app/uploads

volumes:
  uploads_data:
    driver: local

networks:
  ausflug-network:
    driver: bridge
